.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  width: 40%;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 20px;
}

.card>img{
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 20px;
}

.contact p,h3{
  text-align: left;
  margin: 5px;
}